$background-main-white: #ffffff;

$font-menu-black: #1d1d1b;
$font-menu-hover-orange: #eb652f;

$anchor-orange: #ea5a1e;

$arrow-orange: #e84e0e;
$arrow-black: #1d1d1b;

$button-background-white: white;
$button-font-orange: #ea591f;
$button-border-orange: #e84d0f;

$quick-news-font-grey: #a0a0a0;

$content-background-grey: #f2f2f2;

$underline-dashed-orange: #ee512a;